{#
/**
 * @file
 * Default theme implementation to display a formatted photoswipe image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - url: An URL the image can be linked to.
 * - attributes: Link attributes.
 *
 * @see template_preprocess_media_image_photoswipe_formatter()
 *
 * @ingroup themeable
 */
#}

<div class="photoswipe-gallery">
  <a href="{{ url }}" aria-controls="photoswipe" data-cropped="true" aria-label="{{ attributes['data-pswp-img-attrs']|raw }}" role="button" {{ attributes }}>{{ image }}</a>
</div>
